div {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}
 
.navbar .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #888 3px solid;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#overview {
    min-height: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#000;
}

#organizer {
    color:#FFF;
}

#presenters {
    font-weight: 400;
    text-align: center;
    color:#000;
}

#presenters img {
    margin-left: 25%;
    width: 50%;
}

#presenters .name {
    text-align: center;
}

#contact p {
    line-height: 0.6;
}

#main-footer {
    background: #000;
    color: #FFF;
}
