div {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

.navbar .nav-link {
    font-size: 20px;
    background-color: #000;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.bg-dark {
  background-color: #000!important;
}

.navbar .nav-item.active {
    border-left: #888 3px solid;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20,40,80,0.2);
}

.divider {
    position: relative;
    margin-top: 90px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    left: 1%;
    right: 1%;
    width: 95%;
    height: 3px;
    background-image: linear-gradient(to right, transparent, rgb(100,0,80), transparent);
}

#showcase {
    text-align: center;
}

#overview {
    min-height: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#000;
    text-align: center;
}

#organizer {
    color:#FFF;
}

#presenters {
    font-weight: 600;
    text-align: center;
    color:#000;
}

#presenters img {
    margin-left: 15%;
    width: 65%;
}

#presenters .name {
    text-align: center;
}

#references {
	font-size: 0.8rem;
}

#contact p {
    line-height: 1.0;
}

#main-footer {
    background: #000;
    color: #FFF;
}

.exeter {
    margin-bottom:-10%;
    margin-top:5%;
    height: 70%;
}

.liverpool {
    margin-bottom:-10%;
    margin-top:5%;
    height: 75%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	h1 {
		font-size: 1.6rem;
	}

    h2 {
        font-size: 1.4rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	h1 {
        font-size: 2.0rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	h1 {
        font-size: 2.0rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.0rem;
    }
}