div {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}
 
.navbar .nav-link {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #888 3px solid;
}

.carousel-item {
    height: 500px;
}

.carousel-image-1 {
    background: url('../img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.divider
{
    position: relative;
    margin-top: 90px;
    height: 1px;
}

.div-transparent:before
{
    content: "";
    position: absolute;
    left: 1%;
    right: 1%;
    width: 95%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(80,80,80), transparent);
}

#overview {
    min-height: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#000;
}

#organizer {
    color:#FFF;
}

#presenters {
    font-weight: 400;
    text-align: center;
    color:#000;
}

#presenters img {
    margin-left: 25%;
    width: 50%;
}

#presenters .name {
    text-align: center;
}

#contact p {
    line-height: 1.0;
}

#main-footer {
    background: #CCC;
    color: #FFF;
}

.exeter {
    margin-bottom:-10%;
    margin-top:5%;
    height: 70%;
}

.liverpool {
    margin-bottom:-10%;
    margin-top:2%;
    height: 70%;
}